.alert-container{
  display:flex;
  justify-content:center;
  margin:20px;
}

.custom-alert{
  width:100%;
  max-width:500px;
  border-radius:10px;
  font-weight:500;
  box-shadow:0 6px 15px rgba(0,0,0,0.08);
}