.home-card {
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #e9ecef;
    transition:
        transform 0.35s cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 0.35s cubic-bezier(0.4, 0, 0.2, 1),
        border-color 0.35s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
    
}

.home-card:hover {
    transform: translateY(-7px);
    box-shadow:
        0 12px 24px rgba(0, 0, 0, 0.06),
        0 20px 40px rgba(0, 0, 0, 0.04);
    border-color: #dee2ff;
}

.home-card img {
    border-radius: 10px 10px 0 0;
}

.no-caret::before {
    display: none !important;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}